html, body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

body {
	/*background:url("http://www.designlovefest.com/wp-content/uploads/downloads/2014/12/all.jpg") no-repeat fixed;*/
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	list-style: none;
}

/*HEADER*/
.header .container{
	min-height: 90px;
	width: 85%;
}

.header img {
	float: left;
	padding-top: 10px;
}

.search {
	float:right;
	margin: 25px 0 0 0;
	padding-top: 15px;
}

.search-form input {
	background: transparent;
	border: 0px;
	border-bottom: 2px solid #f06a2f;
	color: #f06a2f;
	height: 30px;
	width: 210px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight:400;
}

.search-form input:hover, .search-form input:focus {
	border-bottom: 2px solid #f5b18f;
	outline: 0px;
}

.search-btn {
	background-color: #fff;
	border: 2px solid #f06a2f;
	color: #f06a2f;
	height: 30px;
	margin: 0 0 0 10px;
	padding: 0 10px;
}

.search-btn:hover {
	border: 2px solid #f5b18f;
}

#account {
	background-color: #fff;
	border: 2px solid #f06a2f;
	color: #f06a2f;
	margin-left: 30px;
	margin-bottom: 5px;
}


/*MENU*/
.menu {
	background: #f06a2f;
	min-height:20px;
	height: 30px;
	width: 85%;
	margin: auto;
}

.menu ul.nav {
	list-style: none;
	margin: 0;
}

.menu ul.nav li {
	display: inline-block;
	width: 20%;
	height:30px;
	margin: 0;
	padding-top: 5px;
	text-align: center;
}

.menu ul.nav li:hover {
	background: #f5b18f;
}

.menu ul.nav li a {
	color: #fff;
	margin: 0;
	padding: 0;
}

.menu ul.nav li a:hover {
	background: transparent;
}

/*MAIN*/
.main {
	margin: auto;
	backgroundÔºçcolor:#B7B8B3;
	background-size: cover;
}

.main .container{
	width: 80%;
}

.main .container .normal {
	padding:auto;
	text-align: justify;
	color: #000;
	font-size: 18px;
	width: 70%;
	margin: auto;
}

.main .container .normal p.date {
	color: #000;
	font-size: 16px;
	width:85%;
	margin: 10px 0 0 0;
}

.main .container .normal h2 {
	color: #000;
	font-size: 60px;
	list-style: none;
}


.main .container .normal .date .img {
    margin: 20px 20px 20px 20px;
    width: 100%;
	height:auto;
	padding-bottom: 50px;
}





/*FOOTER*/
.footer {
	margin-top: 10px;
	border-top: 1px solid #e1e3e3;
}

.footer .container{
	margin-top: 20px;
	padding-bottom: 40px 0;
	width: 84%;
	text-align: 100%;
}

.footer ul {
	float: left;
	list-style: none;
	margin: 0;
}

.footer ul li {
	color: #000;
	display: inline;
	margin: 0 40px 0 0;
}

.footer p {
	color:#000;
	float: right;
}

.col-md-12 img {
	width: 100%;
}
