html, body {
	font-family: 'Lato', sans-serif;
	font-weight: 18px;
}

body {
	/*background:url("http://www.designlovefest.com/wp-content/uploads/downloads/2014/12/all.jpg") no-repeat fixed;*/
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

/*HEADER*/
.header .container{
	min-height: 90px;
	width: 85%;
}

.header img {
	float: left;
	padding-top: 10px;
}

.search {
	float:right;
	margin: 25px 0 0 0;
	padding-top: 15px;
}

.search-form input {
	background: transparent;
	border: 0px;
	border-bottom: 2px solid #f06a2f;
	color: #f06a2f;
	height: 30px;
	width: 210px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight:400;
}

.search-form input:hover, .search-form input:focus {
	border-bottom: 2px solid #f5b18f;
	outline: 0px;
}

.search-btn {
	background-color: #fff;
	border: 2px solid #f06a2f;
	color: #f06a2f;
	height: 30px;
	margin: 0 0 0 10px;
	padding: 0 10px;
}

.search-btn:hover {
	border: 2px solid #f5b18f;
}

#account {
	background-color: #fff;
	border: 2px solid #f06a2f;
	color: #f06a2f;
	margin-left: 30px;
	margin-bottom: 5px;
}


/*MENU*/
.menu {
	background: #f06a2f;
	min-height:20px;
	height: 30px;
	width: 85%;
	margin: auto;
}

.menu ul.nav {
	list-style: none;
	margin: 0;
}

.menu ul.nav li {
	display: inline-block;
	width: 20%;
	height:30px;
	margin: 0;
	padding-top: 5px;
	text-align: center;
}

.menu ul.nav li:hover {
	background: #f5b18f;
}

.menu ul.nav li a {
	color: #fff;
	margin: 0;
	padding: 0;
}

.menu ul.nav li a:hover {
	background: transparent;
}

/*MAIN*/
.main {
	background-size: cover;
	margin: auto;
}

.main .container {
	width: 89%;
}

.main .container .col-md-9 {
	margin-left: 50px;
	margin-right: 50px;
}

.main .container .col-md-9 img{
	margin-bottom: 40px;
	margin-left: 70px;
}

.main .container .col-md-9 p {
	text-align: justify;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

.main .container .col-md-9 h1 {
	text-align: center;
}


.donate-btn {
	background-color: #f06a2f;
	border: 2px solid #f06a2f;
	color: #fff;
	height: 80px;
	width: 120px;
	font-size: 26px;
	margin-right: 60px;
	margin-top: 90px;
	border-radius: 15px;
	float: right;
	position: fixed;
	right: 90px;
}

.main .container .col-md-4 h2 {
	color: #8d8c8c;
	font-family: 'Lato', sans-serif;
	font-size: 60px;
	margin-right: 20px;
    margin-left: 20px;
	margin-top: 15px;
}

.main .container .col-md-4 h2 span {
	border-bottom: 5px solid #f06a2f;
}

.main .container .col-md-4 p {
	color: #8d8c8c;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	text-align: justify;
	margin-bottom: 20px;
}

.row {
	display: inline;
}

.thumbnail {
	background-color: #f2f0f0;
	width: 100%;
	height: 350px;
	padding-bottom: 10px;
	box-shadow:0px 2px 2px rgba(0,0,0,0.1);
	border-radius:0px;
	border:0px;
}

.thumbnail img {
  /*width: 394px;*/
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: block;
}

/*MODAL*/
.modal-body ul li {
	list-style: none;
	display: inline-block;
	margin: auto;
	margin-top: 20px;
}

.modal-footer {
	margin: auto;
}

.modal-footer .donation {
	float: left;
	margin: 0 37px;
	padding: 5px;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 18px;
	border: 1px;
	background: #f06a2f;
}

.modal-footer .modal-title{
	float: left;
}


.modal-footer .modal-body {
	font-size: 20px;
	float: left;
}


/*FOOTER*/
.footer .container{
	padding-top: 40px;
	padding-bottom: 40px;
	width: 84%;
}

.footer ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer ul li {
	color: #000;
	display: inline;
	margin: 0 40px 0 0;
}

.footer p {
	color:#000;
	float: right;
}
